<div class="main">
    <div fxLayout="row" fxLayoutAlign="center center" class="main-formlario" >
        <div class="informacion">
            <div class="tituloinfo">
                <h1>{{cliente.primerNombre}}  {{cliente.primerApellido}}</h1>
            </div>
            <div class="iteminfo">
                <mat-icon style="font-size: 100px;
                margin-right: 86px;
                margin-top: 8px;" aria-hidden="false" aria-label="Example home icon">person_pin</mat-icon>
            </div>

          </div>
      <form [formGroup]="FormClientes" (ngSubmit)="onSubmit()" class="formulario">
        <h3 style="margin: 12px 0px 0px 68px; color: #F0F2F2;">Datos Cliente</h3>
        <div class="fields" style="margin-left: 60px;">
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field style="margin: 10px;">
              <input autocomplete="off" matInput placeholder="Primer Nombre *" [formControl]="FormClientes.controls.primerNombre">
              <mat-error *ngIf="isSubmit && FormClientes.controls.primerNombre.hasError('required')">
                Primer nombre es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field style="margin: 10px;">
              <input matInput placeholder="Segundo Nombre" [formControl]="FormClientes.controls.segundoNombre">
            </mat-form-field>

          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field style="margin: 10px;">
              <input matInput placeholder="Primer Apellido *" [formControl]="FormClientes.controls.primerApellido">
              <mat-error *ngIf=" isSubmit && FormClientes.controls.primerApellido.hasError('required')">
                Primer apellido es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field style="margin: 10px;">
              <input matInput placeholder="Segundo Apellido" [formControl]="FormClientes.controls.segundoApellido">
            </mat-form-field>

          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field style="margin: 10px;">
              <input matInput placeholder="Telefono *" [formControl]="FormClientes.controls.telefono">
              <mat-error
                *ngIf=" isSubmit && FormClientes.controls.telefono.hasError('pattern') && !FormClientes.controls.telefono.hasError('required')">
                Campo Numerico
              </mat-error>
              <mat-error *ngIf=" isSubmit && FormClientes.controls.telefono.hasError('required')">
                Telefono es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field style="margin: 10px;">
              <input matInput placeholder="Direccion *" [formControl]="FormClientes.controls.direccion">
              <mat-error *ngIf="isSubmit && FormClientes.controls.direccion.hasError('required')">
                Direccion es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="margin: 30px; margin-left: 65px;
        margin-right: 104px;">
            <button mat-raised-button type="submit" *ngIf="editarActivo" style="background: #5C5D73; color: white;"
            >Guardar</button>
            <button mat-raised-button type="button" *ngIf="!editarActivo" style="background: #5C5D73; color: white;" (click)="editarDatos()"
            >Editar</button>
          <button mat-raised-button type="button" *ngIf="editarActivo" (click)="limpiarForm()">Limpiar</button>
          <!-- <button mat-raised-button type="button" (click)="goback()">Volver</button> -->
        </div>

      </form>
    </div>
  </div>

