.main {
  padding: 40px;
}
.fields {
  margin-top: 23px;
}
::ng-deep .mat-drawer-container{
  color: rgb(255, 255, 255);
}
::ng-deep .mat-form-field-label {
  color: #F5F5F5 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.main-formlario{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 2);
  width: 70%;
  border-radius: 10px;
  overflow: hidden;
}
.formulario {
  width: 60%;
  height: 400px;
  background: #8590A6;
  /*  margin: 50px auto; */


}
.informacion {
  width: 40%;
  height: 400px;
  background: #5c5d73;
  opacity: 0.9;
  color: #F0F2F2;
  text-align: center;
    padding-top: 91px;

}
/* .tituloinfo,
.iteminfo {
  z-index: 2;
} */
/* .informacion::before{
  content:'' ;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: blue;

}
 */
