table  {
  width: 99%;
    margin-left: 10px;
    margin-top: 6px;
    background: #8590A6;
}
mat-paginator{
  margin-left: 10px;
  width: 99%;
}
.inputSearch{
    width: 20% !important;
    margin-left: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.hide {
  display: none;
}
mat-footer-row mat-footer-cell{
     justify-content: center;
     font-style: italic
}
.example-loading-shade {
  position: absolute;
  padding: 8px;
 /* top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;*/
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}
/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
  border: 1px solid #ccc;
}

.example-table-container {

  position: relative;
  /*max-height: 500px;*/
  overflow: auto;
}

