<div class="mat-elevation-z8">
  <div style="padding-top: 15px;" *ngIf="!isLoadingResults">
    <a  style=" margin-left: 10px; background: #8590A6;" mat-raised-button routerLink="/Agregar-Cliente">Nuevo
        <mat-icon style="text-align: center; color: #F0F2F2;">add</mat-icon>
    </a>
    <mat-form-field class="inputSearch">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
    </mat-form-field>
  </div>
    <div class="example-loading-shade" >
      <div *ngIf="isLoadingResults">
          <mat-spinner [diameter]="40" ></mat-spinner> Cargado datos por favor espere..
      </div>

      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        Error al intentar obtener los datos.
      </div>
    </div>


    <table mat-table [dataSource]="dataSource" matSort *ngIf="!isLoadingResults">
        <!-- Name Column -->
        <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: #F0F2F2; font-weight: bold;"> Nombres </th>
            <td mat-cell *matCellDef="let element" style="color: #F0F2F2;"> {{element.primerNombre +' '+ element.segundoNombre}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: #F0F2F2; font-weight: bold;"> Apellidos </th>
            <td mat-cell *matCellDef="let element" style="color: #F0F2F2;"> {{element.primerApellido +' '+ element.segundoApellido}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: #F0F2F2; font-weight: bold;"> Telefono </th>
            <td mat-cell *matCellDef="let element" style="color: #F0F2F2;"> {{element.telefono}} </td>
        </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="direccion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: #F0F2F2; font-weight: bold;"> Direccion </th>
                  <td mat-cell *matCellDef="let element" style="color: #F0F2F2;"> {{element.direccion}} </td>
              </ng-container>
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef style="color: #F0F2F2;">Opciones</th>
            <td mat-cell *matCellDef="let row">
                <button matTooltip="Actualizar" (click)="irActualizar(row)" mat-icon-button>
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Eliminar" color="warn" (click)="dialogEliminarCliente(row)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
              </td>
        </ng-container>
       <!--  <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                <mat-spinner diameter="26"></mat-spinner> Cargando Datos...
            </mat-footer-cell>
        </ng-container> -->
<!--
        <ng-container matColumnDef="error">
          <mat-footer-cell *matFooterCellDef colspan="6">
             No hay datos
          </mat-footer-cell>
      </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': ListaClientes.length > 0}"></mat-footer-row> -->

    </table>
  <!--   <mat-paginator [length]="100" [pageSize]="20" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
    </mat-paginator> -->
</div>

  <ng-template #DeleteConfirmation>
      <mat-card-header>
        <mat-card-title>
          <div style="padding-bottom: 10px;text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif !important;">
            Eliminar</div>
        </mat-card-title>
        <mat-card-subtitle style="min-height: 4px;">
            <div  *ngIf="isDeleting"  style="min-height: 4px;">
            <mat-progress-bar mode="indeterminate" color="warn" style="width: 260px; !important" ></mat-progress-bar>
          </div>
        </mat-card-subtitle>

      </mat-card-header>
      <mat-card-content style="min-height: 33px;">
        <mat-dialog-content>
          <span style=" font-family: Verdana, Geneva, Tahoma, sans-serif !important;">
            ¿Estas seguro que desea eliminar este cliente?</span>
        </mat-dialog-content>

      </mat-card-content>
      <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-button [disabled]="isDeleting" mat-dialog-close>No</button>

        <button mat-raised-button [disabled]="isDeleting" color="warn" (click)="EliminarCliente()">
          Sí, Eliminar</button>
      </mat-dialog-actions>
    </ng-template>

