.loadingSMS {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.main{
  margin-top: 130px;
}


.example-card {
  max-width: 400px;
  min-width: 400px;

  background-color: transparent;
}
::ng-deep .mat-tab-label-content {
 color: white;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: white;
}

.main-login {
  max-width: 800px;
  min-width: 400px;
 /*  margin: 6% 52%; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.example-card {
  background: #8590A6;
  color: #343240;
}
.card-title {
  padding-left: 90px;
  padding-top: 11px;
  color: #343240;
}

.login-input {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #fff;
  color: #fff;
  border-radius: 2px;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.1rem 0.3rem;
  width: 15rem;
  opacity: 0.8;
}
.error-input{
  border: 1px solid red;
}
.card-main {
  margin-top: 20px;
  padding: 0 !important;
}

#loginInputS {
  position: relative;
  left: -312px;
  top: 30px;
}
