<div>
  <div fxLayout="row" fxLayoutAlign="center center" class="main">
    <mat-tab-group dynamicHeight [(selectedIndex)]=selectedIndex>
      <mat-tab label="Login" style="color: #fff;">
        <div class="example-small-box ">
          <div class="main-login">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title class="card-title">
                    TIENDA WEB
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon style="color:#B4C4D9">perm_identity</mat-icon> &nbsp; <input [ngClass]="{'error-input': submitted && loginForm.controls.username.hasError('required')}" class="login-input"
                      style="width:74%;" formControlName="username" placeholder="Usuario" autocomplete="nope" />
                  </div><br>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon style="color:#B4C4D9">https</mat-icon> &nbsp; <input [ngClass]="{'error-input': submitted && loginForm.controls.password.hasError('required')}" class="login-input" type="password"
                      style="width:74%;" formControlName="password" placeholder="Contraseña" />
                  </div>
                </mat-card-content>
                <mat-card-actions style="padding:15px 15px 15px 126px">
                  <button mat-raised-button style="width: 150px; background-color: #B4C4D9;"
                    type="submit">ENTRAR</button>

                </mat-card-actions>
              </mat-card>
            </form>
            <div style="text-align: center;color: #fff;margin-top: 10px;">Copyright © 2019</div>
            <div class="loadingSMS" style="color: #fff">{{loading ? messageLoading + '...' : '' }}</div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Registrar" style="color: #fff;">
        <div class="example-small-box ">
          <div class="main-login">
            <form [formGroup]="FormUsuarios" (ngSubmit)="onSubmitUsuarios()">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title class="card-title">
                    TIENDA WEB
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon style="color:#B4C4D9">person</mat-icon> &nbsp; <input [ngClass]="{'error-input':(isSubmitRegister && FormUsuarios.controls.nombre.hasError('required'))}" class="login-input"
                      style="width:74%;" [formControl]="FormUsuarios.controls.nombre" placeholder="Nombre"
                      autocomplete="nope" />

                  </div><br>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon style="color:#B4C4D9">person</mat-icon> &nbsp; <input [ngClass]="{'error-input': isSubmitRegister && FormUsuarios.controls.apellido.hasError('required')}" class="login-input"
                      style="width:74%;" [formControl]="FormUsuarios.controls.apellido" placeholder="Apellido"
                      autocomplete="nope" />

                  </div><br>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon style="color:#B4C4D9">perm_identity</mat-icon> &nbsp; <input [ngClass]="{'error-input': isSubmitRegister && FormUsuarios.controls.usuario.hasError('required')}" class="login-input"
                      style="width:74%;" [formControl]="FormUsuarios.controls.usuario" placeholder="Usuario"
                      autocomplete="nope" />

                  </div><br>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon style="color:#B4C4D9">https</mat-icon> &nbsp; <input
                      [ngClass]="{'error-input': isSubmitRegister && FormUsuarios.controls.password.hasError('required')}"
                      class="login-input" type="password" style="width:74%;"
                      [formControl]="FormUsuarios.controls.password" placeholder="Contraseña" />
                  </div>
                </mat-card-content>
                <mat-card-actions style="padding:15px 15px 15px 126px">
                  <button mat-raised-button style="width: 150px; background-color: #B4C4D9;"
                    type="submit">Registrar</button>
                </mat-card-actions>
              </mat-card>
            </form>
            <div style="text-align: center;color: #fff;margin-top: 10px;">Copyright © 2019</div>
            <div class="loadingSMS" style="color: #fff">{{loading ? messageLoading + '...' : '' }}</div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>















<!-- <div fxLayout="row" fxLayoutAlign="center center" class="main">
  <div class="main-login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="card-title">
            TIENDA WEB
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon style="color:#fff">perm_identity</mat-icon> &nbsp; <input class="login-input" style="width:74%;"
              formControlName="username" placeholder="Usuario" autocomplete="nope" />
          </div><br>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon style="color:#fff">https</mat-icon> &nbsp; <input class="login-input" type="password"
              style="width:74%;" formControlName="password" placeholder="Contraseña" />
          </div>
        </mat-card-content>
        <mat-card-actions style="padding:15px 15px 15px 126px">
          <button mat-raised-button style="width: 150px" type="submit">ENTRAR</button>

        </mat-card-actions>
      </mat-card>
    </form>
    <div style="text-align: center;color: #fff;margin-top: 10px;">Copyright © 2019</div>
    <div class="loadingSMS" style="color: #fff">{{loading ? messageLoading + '...' : '' }}</div>
  </div>
</div> -->
