.example-container {
  position: absolute;
  top: 43px;
  bottom: 0;
  left: 0;
  right: 0;

}
.background{
  background-color: #5C5D73;
  }
  ::ng-deep .mat-menu-content:not(:empty)
  {
    padding: 0 !important;
  }
  mat-toolbar{
    background: #343240 ;
  }
  mat-drawer{
    background-color: #343240;
  }


  mat-drawer-container {
    background-color: #B4C4D9;

}
