<div class="main" >

  <mat-menu class="no-padding-div" #menu="matMenu">
          <mat-card no-borde>
            <mat-card-header>
              <mat-card-title>{{name}}</mat-card-title>
            </mat-card-header>
            <mat-card-actions ayout-align="end" class="card-actions-line">
              <button mat-button right color="primary" (click)="logout()">Cerrar sesión</button>
            </mat-card-actions>
          </mat-card>
        </mat-menu>

    <mat-toolbar style="background: #343240;" class="header-toolbar" layout="row" fxLayoutAlign="space-between center" style="position: inherit;max-height: 42px;" *ngIf="isLogin">
        <div *ngIf="!media.isActive('xs')" style="padding-left: 20px; font-size: 16px; color: #F0F2F2 ">
          Tienda
        </div>

        <a [matMenuTriggerFor]="menu">
          <mat-card-header>
            <div fxLayout="row" fxLayoutAlign="end center" >
              <span *ngIf="media.isActive('gt-sm') " style="margin-right: 10px; font-size: 16px; color: #F0F2F2;">{{name}}</span>
              <mat-icon style="cursor: pointer; max-height: 32px; max-width: 32px; color: white;" class="mat-icon-color">settings</mat-icon> &nbsp;
              <!-- <img style="max-height: 32px; max-width: 32px;"       src="/assets/images/avatars/1.svg" class="mat-card-avatar" /> -->
            </div>
          </mat-card-header>
        </a>

      </mat-toolbar>
      <mat-drawer-container class="example-container" [style.top.px] = "!isLogin ? 0 : 64" [ngClass]="{'background': !isLogin}">
          <mat-drawer mode="side" opened>
              <mat-nav-list *ngIf="isLogin" class="margin-top-menu">

                  <a mat-list-item (click)="media.isActive('gt-sm') ? false : sidenav.close() "routerLink="/inicio" style="color: #F0F2F2;">
                    <mat-icon matPrefix class="mat-dark" style="color: #F0F2F2;">home</mat-icon>&nbsp;Inicio
                  </a>


                  <a mat-list-item (click)="media.isActive('gt-sm') ? false : sidenav.close()" routerLink="/clientes" style="color: #F0F2F2;">
                    <mat-icon mdPrefix class="mat-dark" style="color: #F0F2F2;">work_outline</mat-icon>&nbsp;Clientes
                  </a>


                </mat-nav-list>
          </mat-drawer>
          <mat-drawer-content>
            <router-outlet></router-outlet>
          </mat-drawer-content>
        </mat-drawer-container>


</div>
















   <!--  <mat-sidenav #sidenav [mode]="media.isActive('gt-sm') ? 'side' : 'over'" class="app-sidenav"
      [opened]="!media.isActive('gt-sm') ? false : isLogin">

      <mat-toolbar>
        <h6>TIENDA</h6>
      </mat-toolbar>

      <mat-nav-list *ngIf="isLogin" class="margin-top-menu">

        <a mat-list-item (click)="media.isActive('gt-sm') ? false : sidenav.close() " routerLinkActive="LinkActive">
          <mat-icon matPrefix class="mat-dark" color="primary">home</mat-icon>&nbsp;Inicio
        </a>


        <a mat-list-item (click)="media.isActive('gt-sm') ? false : sidenav.close()" routerLink="/proyectos">
          <mat-icon mdPrefix class="mat-dark" color="primary">work_outline</mat-icon>&nbsp;Proyectos
        </a>


      </mat-nav-list>
    </mat-sidenav>
    <div class="inner-sidenav-content" #scrollMeMain>
      <div class="content-show">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-container> -->
<!-- </div> -->
